.toast {
  position: fixed;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  padding: 10px;
  background-color: white;
  border: 1px solid #333;
  z-index: 1;
}

.showing {
  animation: showing 250ms ease-out forwards;
}
.hide {
  transform: translate(-50%, -150%);
}
.hiding {
  animation: hiding 250ms ease-out forwards;
  transform: translate(-50%, -150%);
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes showing {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes hiding {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -150%);
  }
}
